.colorpreview {
  position: relative;
}
.colorpreview-overlay,
.colorpreview-button-copy {
  position: absolute;
  inset: 0;
}
.colorpreview-button-copy {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0ms;
}
.colorpreview:hover .colorpreview-button-copy,
.colorpreview .colorpreview-button-copy:global(.copied) {
  opacity: 1;
  transition-duration: 300ms;
}
