.color-picker {
    display: flex;
    flex-direction: column;
    padding: 3px;
    background-color: #ffffff;
    border-radius: 5px;
    margin: 8px;
    user-select: none;
    overflow: visible;
    box-shadow: 3px 3px 5px #0005;
}
.color-picker-box {
    display: block;
    position: relative;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    width: 300px;
    height: 300px;
}
.color-picker-pointer {
    display: block;
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: #000;
    background-color: #fff;
    border: 2px solid;
    box-sizing: border-box;
    top: 0;
    left: 0;
    box-shadow: 1px 1px 3px #0007;
}
.color-picker-slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
}
.color-picker-slider-track {
    display: block;
    width: 300px;
    height: 10px;
    background-image: linear-gradient(to right, hsl(0, 100%, 50%), hsl(60, 100%, 50%), hsl(120, 100%, 50%), hsl(180, 100%, 50%), hsl(240, 100%, 50%), hsl(300, 100%, 50%), hsl(360, 100%, 50%));
    border-radius: 99999px;
    position: relative;
}